footer {
    color: #fff;
    background-color: #000;
    height: 100px;
    display: flex;
    justify-content: center;

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social-medias {
            display: flex;
            gap: 30px;
        }
    }

    
}