header {
  padding: 25px 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 60%, rgba(0, 0, 0, 0.50) 100%);
  transition: .6s ease all;

  &.scrolled {
    background: white;

    .desktop-menu__menu--item {
      a {
        color: black !important;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 68px;
    }

    .desktop-menu {
      @media (max-width: 1199px) {
        display: none;
      }

      &__menu {
        display: flex;
        gap: 40px;
        margin-bottom: 0;
  
        &--item {
          a {
            color: white;
            font-family: $titleFont;
            font-size: 18px;
            font-style: normal;
            letter-spacing: 2px;
          }
        }
      }
    }

    .mobile-menu {
      padding: 80px;
      position: fixed;
      top: 0;
      right: 0;
      width: 40%;
      height: 100%;
      background-color: $primaryColor;

      .close {
        cursor: pointer;
        position: absolute;
        top: 60px;
        right: 80px;
        transition: .4s ease all;

        &:hover {
          opacity: .7;
        }
      }

      &__menu {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 0;
  
        &--item {
          a {
            color: white;
            font-family: $titleFont;
            font-size: 18px;
            font-style: normal;
            letter-spacing: 2px;
          }
        }
      }
    }

    .right {
      display: flex;
      margin-left: auto;
      gap: 36px;

      .menu-mobile-btn {
        @media (min-width: 1200px) {
          display: none;
        }
      }
    }
  }
}
